RewriteEngine On RewriteBase /UniqueJobSearch/ # Replace with your GitHub reponame
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ./UniqueJobSearch/index.html [L]
