.sidebar_container {
  position: absolute;
  left: 0%;
  width: 0%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 99;
  transition: 0.3s all ease-in;
  overflow: hidden;
}

.sidebar {
  margin-top: 100px;
  width: 100%;
  padding: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  margin-bottom: 20px;
  cursor: pointer;
}

.link_content {
  display: flex;
  align-items: center;
}

.link_text {
  font-size: 1.2rem;
  font-weight: 500;
}

.dropdown_arrow {
  height: 0px;
  width: 0px;
  margin-left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #3762e3;
  transition: 0.3s all ease-in-out;
}

.link:hover {
  .dropdown_arrow {
    transform: rotate(180deg);
  }
  .sub_link {
    height: 100px;
  }
}

.sub_link {
  overflow: hidden;
  height: 0px;
  width: calc(100% - 50px);
  margin-left: 50px;
  background-color: white;
  transition: 0.3s ease-in-out;
}

@media (min-width: 1000px) {
  .sidebar_container {
    width: 0px;
  }
}

.buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #3762e3;
  color: white;
  padding: 15px 10px;
  width: 400px;
  max-width: 90%;
  border: none;
  border-radius: 999px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.button:hover {
  background: linear-gradient(to left, hsl(225, 75%, 60%), hsl(225, 75%, 50%));
}

.right_arrow {
  height: 15px;
  width: 15px;
  margin-left: 8px;
  transition: 0.3s all ease-in-out;
}
