.dropdown_container {
  position: absolute;
  height: 95%;
  width: 95%;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 14px 42px rgba(32, 36, 138, 0.09);
  border-radius: 10px 10px;
  border: 2px solid hsl(210, 38%, 95%);
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdown_item {
  width: 100%;
  margin: auto;
  padding: 10px 10px;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
}

.socials_dropdown_item {
  width: 40%;
  margin: auto;
  padding: 10px 10px;
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 10px;
}

.dropdown_item img {
  width: 40px;
  height: 40px;
}

.socials_dropdown_item img {
  width: 40px;
  height: 40px;
}

.socials_dropdown_item:hover {
  background-color: #f5f6ff;
}

.dropdown_item:nth-child(3):hover {
  background-color: hsl(39, 100%, 96%);
}

.dropdown_item:nth-child(4):hover {
  background-color: hsl(274, 100%, 96%);
}

.main_title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
  height: fit-content;
}

.dropdown_item:hover {
  background-color: #f5f6ff;
}

.title {
  font-weight: 500;
  margin-bottom: 8px;
}

.sub_title {
  font-weight: 400;
  color: #8184a1;
}

.col {
  display: flex;
  flex-direction: column;
}
